[env:esp32doit-devkit-v1]
platform = espressif32
board = esp32doit-devkit-v1
framework = arduino
build_flags = -DPIO_FRAMEWORK_ARDUINO_LWIP2_LOW_MEMORY
board_build.partitions = defaultWithSmallerSpiffs.csv

; the latest development brankitchen-lightch (convention V3.0.x) 
lib_deps = ArduinoJson@6.16.1
            OneWire
            DallasTemperature
            pololu/VL53L0X
            https://github.com/homieiot/homie-esp8266.git#develop

; add additional parameter, like the upload port
upload_port=/dev/ttyUSB1
